@tailwind base;
@tailwind components;
@tailwind utilities;

.thumbs {
    display: flex;
    justify-content: center;
}

.swiper-pagination {
    position:relative !important;
}

.menu li > *:not(ul, .menu-title, details, .btn):active, .menu li > *:not(ul, .menu-title, details, .btn).active, .menu li > details > summary:active {
    /* background: red !important; */
    background-color: transparent;
    color: #FCCA06;
    text-decoration: underline;
}

.react-tabs__tab {
border: none !important;
}

.react-tabs__tab--selected {
    color: #ddb100 !important;
    text-decoration: underline;
}
